<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close" p:driverClass="com.microsoft.sqlserver.jdbc.SQLServerDriver"
		p:jdbcUrl="jdbc:sqlserver://localhost:1433;databaseName=worldcup"
		p:user="sa" p:password="password" p:maxPoolSize="40" p:minPoolSize="1"
		p:initialPoolSize="1" p:maxIdleTime="20" />
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean"
		p:dataSource-ref="dataSource">
		<property name="mappingResources">
			<list>
				<value>cn/edu/shu/worldcup/domain/Player.hbm.xml</value>
				<value>cn/edu/shu/worldcup/domain/Team.hbm.xml</value>
				<value>cn/edu/shu/worldcup/domain/User.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<value>
				hibernate.dialect=org.hibernate.dialect.SQLServerDialect
				hibernate.hbm2ddl.auto=update
				hibernate.show_sql=true
				hibernate.format_sql=true;
			</value>
		</property>
	</bean>
	<bean id="userDao" class="cn.edu.shu.worldcup.dao.impl.UserDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="teamDao" class="cn.edu.shu.worldcup.dao.impl.TeamDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="playerDao" class="cn.edu.shu.worldcup.dao.impl.PlayerDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="registService" class="cn.edu.shu.worldcup.service.impl.RegistServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean id="loginService" class="cn.edu.shu.worldcup.service.impl.LoginServiceImpl">
		<property name="userDao" ref="userDao" />
	</bean>
	<bean id="teamService" class="cn.edu.shu.worldcup.service.impl.TeamServiceImpl">
		<property name="teamDao" ref="teamDao" />
	</bean>
	<bean id="playerService" class="cn.edu.shu.worldcup.service.impl.PlayerServiceImpl">
		<property name="playerDao" ref="playerDao" />
	</bean>
</beans>